@import 'vendor/typography.css';
@import 'vendor/normalize.css';
@import './variables.css';

:root {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    box-sizing: border-box;
}

.header {
    background-color: var(--black-100);
    color: var(--white);
}

.nav {
    max-inline-size: var(--desktop);
    margin: auto;
    padding-block: var(--space-s);
    padding-inline: var(--space-3xl);
}

.nav_logo {
    user-select: none;
    font-size: var(--h1);
    line-height: var(--h1-lh);
}

.main {
    max-inline-size: var(--desktop);
    margin: auto;
}